go 1.25.0

use (
	.
	./mongo
	./webauthn
	./qr
	./database/driver/mysql
	./database/driver/pgsql
	./database/driver/mssql
	./database/driver/oracle
	./database/driver/mongo
)

replace github.com/zatrano/framework => ../framework
