# Drivers: sqlite | mysql | pgsql | mssql | oracle | mongo
# Link a driver with: go run ./cmd/app db:setup --drivers=sqlite
# DB_CONNECTION=sqlite
# DB_CONNECTIONS=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=
# DB_DATABASE=database/database.sqlite
# DB_USERNAME=
# DB_PASSWORD=
# DB_SSLMODE=disable
# DB_SERVICE=FREEPDB1
# DB_MONGO_URI=memory
# DB_MONGO_DATABASE=zatrano
